<section class="block--gradient block-callout">
  <div class="container grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Book your table now</h2>
      <p class="callout__tagline"></p>
      <div class="about-us__location">
        <svg class="icon--small icon--primary">
          <use href="../images/sprite.svg#location"></use>
        </svg>
        <p>
          837 W. Marshall Lane
          <br />
          Marshalltown, IA 50158, Los Angeles
        </p>
      </div>
      <div class="about-us__phone">
        <svg class="icon--small icon--primary">
          <use href="../images/sprite.svg#telephone"></use>
        </svg>
        <a href="tel:+14148570107">(414) 857 - 0107</a>
      </div>
      <div class="about-us__email">
        <svg class="icon--small icon--primary">
          <use href="../images/sprite.svg#email"></use>
        </svg>
        <a href="mailto:losangeles@restaurantex.com"
          >losangeles@restaurantex.com</a
        >
      </div>
    </div>
  </div>
</section>
