<section class="block--light-orange block-about-us">
  <div class="container grid grid--1x2">
    <div class="about-us__content">
      <h2 class="about-us__heading">About us</h2>
      <p class="about-us__description">
        Lorem ipsum dolor sit amet consectetur adipiscing elit ugue quam diam
        vitae velit bibendum elementum eget non vivamus volutpat odio cras
        vestibulum purus aliquam.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur adipiscing elit enim bibendum sed
        et aliquet aliquet risus tempor semper odio egestas id pulvinar
        consectetur elit tortor non hac pellentesque lacus donec accumsan
        quisque ultricies adipiscing mauris tortor cras est eu accumsan mauris.
      </p>
      <div class="about-us__buttons">
        <a href=""
          ><button class="btn btn--primary btn--block">About us</button></a
        >
        <a href=""
          ><button class="btn btn--white btn--block">Join our team</button></a
        >
      </div>
    </div>
    <div class="about-us__visit">
      <img class="about-us__image" src="../images/meals.jpeg" alt="" />
      <div class="about-us__card">
        <h3 class="about-us__card-heading">Come and visit us</h3>
        <div class="about-us__location">
          <svg class="icon--small icon--primary">
            <use href="../images/sprite.svg#location"></use>
          </svg>
          <p>
            837 W. Marshall Lane
            <br />
            Marshalltown, IA 50158, Los Angeles
          </p>
        </div>
        <div class="about-us__phone">
          <svg class="icon--small icon--primary">
            <use href="../images/sprite.svg#telephone"></use>
          </svg>
          <a href="tel:+14148570107">(414) 857 - 0107</a>
        </div>
        <div class="about-us__email">
          <svg class="icon--small icon--primary">
            <use href="../images/sprite.svg#email"></use>
          </svg>
          <a href="mailto:losangeles@restaurantex.com"
            >losangeles@restaurantex.com</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
