<section class="container block-browse-menu-items">
  <header class="block__header">
    <h2 class="browse-menu-items__heading">Browse our menu</h2>
    <p class="browse-menu-items__content">
      Lorem ipsum dolor sit amet consectetur adipiscing elit ugue quam diam
      vitae velit bibendum elementum.
    </p>
  </header>
  <div class="grid grid--1x2 grid--1x4">
    <div class="menu-item">
      <img class="menu-item__image" src="../images/burger.jpeg" alt="" />
      <span class="badge badge--white menu-item__badge">$ 10.99 USD</span>
      <h3 class="menu-item__heading">Classic Burger</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
    <div class="menu-item">
      <img
        class="menu-item__image"
        src="../images/chocolatemilkshake.jpeg"
        alt=""
      />
      <span class="badge badge--white menu-item__badge">$ 6.99 USD</span>
      <h3 class="menu-item__heading">Chocolate Milkshake</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
    <div class="menu-item">
      <img class="menu-item__image" src="../images/classicfries.jpeg" alt="" />
      <span class="badge badge--white menu-item__badge">$ 5.99 USD</span>
      <h3 class="menu-item__heading">Classic Fries</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
    <div class="menu-item">
      <img class="menu-item__image" src="../images/pancakes.jpeg" alt="" />
      <span class="badge badge--white menu-item__badge">$ 8.99 USD</span>
      <h3 class="menu-item__heading">Pancakes</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
    <div class="menu-item">
      <img class="menu-item__image" src="../images/icecream.jpeg" alt="" />
      <span class="badge badge--white menu-item__badge">$ 3.99 USD</span>
      <h3 class="menu-item__heading">Ice Cream</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
    <div class="menu-item">
      <img class="menu-item__image" src="../images/chickenburger.jpeg" alt="" />
      <span class="badge badge--white menu-item__badge">$ 9.99 USD</span>
      <h3 class="menu-item__heading">Chicken Burger</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
    <div class="menu-item">
      <img class="menu-item__image" src="../images/eggtoast.jpeg" alt="" />
      <span class="badge badge--white menu-item__badge">$ 6.99 USD</span>
      <h3 class="menu-item__heading">Egg Toast</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
    <div class="menu-item">
      <img class="menu-item__image" src="../images/regularsoda.jpeg" alt="" />
      <span class="badge badge--white menu-item__badge">$ 1.99 USD</span>
      <h3 class="menu-item__heading">Regular Soda</h3>
      <p class="menu-item__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, ex!
      </p>
    </div>
  </div>
  <div class="browse-menu-items__buttons">
    <a href=""
      ><button class="btn btn--primary btn--block">Order online</button></a
    >
    <a href=""
      ><button class="btn btn--white btn--block">Book a table</button></a
    >
  </div>
</section>
