<section class="block block--gradient block-hero">
  <div class="container grid grid--1x2">
    <div class="hero__content">
      <h1 class="hero__heading">
        The best place to eat <span class="highlight">burgers in LA</span>.
      </h1>
      <p class="hero__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at
        laudantium itaque ipsam excepturi esse, ducimus natus molestias ea
        pariatur, aperiam commodi deserunt? Sit!
      </p>
      <a href=""
        ><button class="btn btn--primary btn--block">Reserve</button></a
      >
      <a href=""
        ><button class="btn btn--white btn--block">Order online</button></a
      >
    </div>
    <div><img class="hero__image" src="../images/burger.jpg" alt="" /></div>
  </div>
</section>
