<section class="container block block-browse-menu-sections">
  <header class="block__header">
    <h2 class="block-browse-menu-sections__heading">Browse our menu</h2>
  </header>
  <div class="grid grid--1x2 grid--1x4">
    <div>
      <div class="card">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="../images/sprite.svg#pancake"></use>
          </svg>
        </span>
        <h3>Breakfast</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem,
          fuga.
        </p>
        <a href="#" class="link-chevron">Explore menu</a>
      </div>
    </div>
    <div>
      <div class="card">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="../images/sprite.svg#burger"></use>
          </svg>
        </span>
        <h3>Main Dishes</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem,
          fuga.
        </p>
        <a href="#" class="link-chevron">Explore menu</a>
      </div>
    </div>
    <div>
      <div class="card">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="../images/sprite.svg#soda"></use>
          </svg>
        </span>
        <h3>Drinks</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem,
          fuga.
        </p>
        <a href="#" class="link-chevron">Explore menu</a>
      </div>
    </div>
    <div>
      <div class="card">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="../images/sprite.svg#cake"></use>
          </svg>
        </span>
        <h3>Desserts</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem,
          fuga.
        </p>
        <a href="#" class="link-chevron">Explore menu</a>
      </div>
    </div>
  </div>
  <div class="block-browse-menu-sections__buttons">
    <a href=""
      ><button class="btn btn--primary btn--block">Order online</button></a
    >
    <a href=""
      ><button class="btn btn--white btn--block">Book a table</button></a
    >
  </div>
</section>
