<section class="block block--orange">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, et.
    </p>
  </header>
</section>
<section class="block block--light-orange">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, et.
      </p>
    </header>
  </div>
</section>
<section class="block block--gradient">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, et.
      </p>
    </header>
  </div>
</section>
