<section class="block--gradient block-callout">
  <div class="container grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Book your table now</h2>
      <p class="callout__tagline"></p>
      <div class="about-us__location">
        <svg class="icon--small icon--primary">
          <use href="../images/sprite.svg#location"></use>
        </svg>
        <p>
          837 W. Marshall Lane
          <br />
          Marshalltown, IA 50158, Los Angeles
        </p>
      </div>
      <div class="about-us__phone">
        <svg class="icon--small icon--primary">
          <use href="../images/sprite.svg#telephone"></use>
        </svg>
        <a href="tel:+14148570107">(414) 857 - 0107</a>
      </div>
      <div class="about-us__email">
        <svg class="icon--small icon--primary">
          <use href="../images/sprite.svg#email"></use>
        </svg>
        <a href="mailto:losangeles@restaurantex.com"
          >losangeles@restaurantex.com</a
        >
      </div>
    </div>
    <div class="card input-card">
      <div class="grid grid--1x2">
        <div>
          <label for="name" class="input--label">Name</label>
          <input
            id="name"
            type="text"
            class="input"
            placeholder="John Carter"
          />
        </div>
        <div>
          <label for="email" class="input--label">Email Address</label>
          <input
            id="email"
            type="email"
            class="input"
            placeholder="example@email.com"
          />
        </div>
        <div>
          <label for="phone" class="input--label">Phone</label>
          <input
            id="phone"
            type="text"
            class="input"
            placeholder="(555) 555 - 5555"
          />
        </div>
        <div>
          <label for="location" class="input--label">Location</label>
          <input
            id="location"
            type="text"
            class="input"
            placeholder="Ex. Los Angeles"
          />
        </div>
        <div>
          <label for="date" class="input--label">Date</label>
          <input
            id="date"
            type="text"
            class="input"
            placeholder="Day and month"
          />
        </div>
        <div>
          <label for="time" class="input--label">Time</label>
          <input id="time" type="text" class="input" placeholder="Ex. 2:00PM" />
        </div>
      </div>
      <div>
        <label for="note" class="input--label">Add a note</label>
        <textarea
          id="note"
          class="input input--textarea"
          placeholder="Anything we should know?"
        ></textarea>
      </div>
      <button class="btn btn--primary input-card__btn">Book a table</button>
    </div>
  </div>
</section>
