<section class="block--light-orange block--follow-us">
  <div class="container">
    <header class="follow-us__header">
      <h2 class="follow-us__heading">Follow us on Instagram</h2>
      <a href="https://www.instagram.com/"
        ><button class="btn btn--primary">Follow us</button></a
      >
    </header>
    <div class="grid grid--1x3">
      <img
        class="follow-us__image"
        src="../images/burgerslinedup.jpeg"
        alt=""
      />
      <img class="follow-us__image" src="../images/classicfries.jpeg" alt="" />
      <img class="follow-us__image" src="../images/burgers&pizza.jpeg" alt="" />
      <img class="follow-us__image" src="../images/fries&ketchup.jpeg" alt="" />
      <img class="follow-us__image" src="../images/hotdogs.jpeg" alt="" />
      <img class="follow-us__image" src="../images/cocacola.jpeg" alt="" />
    </div>
  </div>
</section>
<script src="../javascript/main.js"></script>
