<section class="block--orange block-delicious-burger">
  <div class="container">
    <div class="grid grid--1x2">
      <div class="delicious-burger__content">
        <div class="delicious-burger__line"></div>
        <h2 class="delicious-burger__heading">
          Taste the most delicious burger in Los Angeles, CA
        </h2>
        <p class="delicious-burger__tagline">
          Lorem ipsum dolor sit amet consectetur adipiscing elit ugue quam diam
          vitae velit bibendum elementum.
        </p>
        <a href=""
          ><button class="btn btn--white-v2 btn--block">Order online</button></a
        >
        <a href=""
          ><button class="btn btn--outline btn--block">Book a table</button></a
        >
      </div>
    </div>
  </div>
  <div class="delicious-burger__image-container">
    <img
      class="delicious-burger__image"
      src="../images/burgersstacked.jpeg"
      alt=""
    />
  </div>
</section>
