<section class="container block-order-apps">
  <header class="block__header">
    <h3 class="block-order-apps__heading">
      Order from your favorite app today!
    </h3>
  </header>
  <div class="order-apps">
    <a class="order-apps__app" href="https://www.ubereats.com/" target="_blank"
      ><img src="../images/ubereats.svg" alt=""
    /></a>
    <a class="order-apps__app" href="https://www.doordash.com/" target="_blank"
      ><img src="../images/doordash.svg" alt=""
    /></a>
    <a class="order-apps__app" href="https://postmates.com/" target="_blank"
      ><img src="../images/postmates.svg" alt=""
    /></a>
    <a class="order-apps__app" href="https://www.rappi.com.mx/" target="_blank"
      ><img src="../images/rappi.svg" alt=""
    /></a>
    <a class="order-apps__app" href="https://www.grubhub.com/" target="_blank"
      ><img src="../images/grubhub.svg" alt=""
    /></a>
  </div>
</section>
<div class="container-line-break">
  <div class="line-break"></div>
</div>
