<button class="btn btn--primary">Order online</button>
<button class="btn btn--white">Book a table</button>
<button class="btn btn--outline">Reserve</button>
<button class="btn btn--white-v2">Contact us</button>
<button class="btn btn--chevron">
  <svg class="icon--medium icon--white">
    <use href="../images/sprite.svg#rightchevron"></use>
  </svg>
</button>
<button class="btn btn--chevron">
  <svg class="icon--medium icon--white">
    <use href="../images/sprite.svg#leftchevron"></use>
  </svg>
</button>
