<footer class="footer">
  <div class="container grid grid--1x2 grid--1x3 footer__grid-one">
    <section class="social">
      <a class="footer__brand" href="/"
        ><img class="footer__logo" src="../images/logo.svg" alt=""
      /></a>
      <p class="footer__social-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
        maxime velit ad numquam rerum dolorem.
      </p>
      <div class="footer__social">
        <a href="https://www.facebook.com/">
          <span class="icon-container--social">
            <svg class="icon--small icon--white">
              <use href="../images/sprite.svg#facebook"></use>
            </svg>
          </span>
        </a>
        <a href="https://twitter.com/home">
          <span class="icon-container--social">
            <svg class="icon--small icon--white">
              <use href="../images/sprite.svg#twitter"></use>
            </svg>
          </span>
        </a>
        <a href="https://www.instagram.com/">
          <span class="icon-container--social">
            <svg class="icon--small icon--white">
              <use href="../images/sprite.svg#instagram"></use>
            </svg>
          </span>
        </a>
        <a href="https://www.youtube.com/">
          <span class="icon-container--social">
            <svg class="icon--small icon--white">
              <use href="../images/sprite.svg#youtube"></use>
            </svg>
          </span>
        </a>
        <a href="https://www.whatsapp.com/">
          <span class="icon-container--social">
            <svg class="icon--small icon--white">
              <use href="../images/sprite.svg#whatsapp"></use>
            </svg>
          </span>
        </a>
      </div>
    </section>
    <section class="footer__pages">
      <div class="grid grid--1x2">
        <div>
          <p class="footer__pages-title">Pages</p>
          <ul class="list">
            <a href="#">
              <li class="footer__pages-item">Home</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">About</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">Menu</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">Contact</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">Delivery</li>
            </a>
          </ul>
        </div>
        <div>
          <p class="footer__pages-title">Utility Pages</p>
          <ul class="list">
            <a href="#">
              <li class="footer__pages-item">Start Here</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">Styleguide</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">Password Protected</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">Licenses</li>
            </a>
            <a href="#">
              <li class="footer__pages-item">Changelog</li>
            </a>
          </ul>
        </div>
      </div>
    </section>
    <section class="footer__follow-us">
      <p class="footer__images-title">Follow us on Instagram</p>
      <div class="grid grid--1x2 footer__grid-two">
        <img class="follow-us__image" src="../images/hotdogs.jpeg" alt="" />
        <img
          class="follow-us__image"
          src="../images/burgers&pizza.jpeg"
          alt=""
        />
        <img
          class="follow-us__image"
          src="../images/burgerslinedup.jpeg"
          alt=""
        />
        <img
          class="follow-us__image"
          src="../images/classicfries.jpeg"
          alt=""
        />
      </div>
    </section>
  </div>
</footer>
<div class="container-line-break">
  <div class="line-break"></div>
</div>
<p class="footer__copyright">
  &copy; Copyright - Restaurante X | Designed by
  <a href="https://brixtemplates.com/"
    ><span class="highlight">BRIX Templates</span></a
  >
  - Powered by
  <a href="https://webflow.com/"><span class="highlight">Webflow</span></a>
</p>
