<blockquote class="quote">
  <svg class="icon--stars">
    <use href="../images/sprite.svg#stars"></use>
  </svg>
  <h3 class="quote__text">The best place to eat hamburgers</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est eum,
    blanditiis ratione debitis ipsa officiis! Harum, ullam saepe explicabo at
    incidunt tempore impedit sunt!
  </p>
  <img src="../images/kathie.jpeg" alt="" class="avatar" />
  <footer class="quote__footer">
    <p class="quote__name">Kathie Corl</p>
    <p class="quote__location">San Francisco, CA</p>
  </footer>
</blockquote>
